
@media (min-width: 400px) { 
    .registerWelcomeText {
        font-size: 19px;
        white-space: nowrap;

        position: absolute;
        top: 15px;
        left: 35px;
    }
    .authText {
        position: absolute;
        left: 12.5%;
        top: 0px;
    }
    .toggle {
        height: 100%;
        width: 200%;
        right: 0px;
    }
    .authWelcomeText {
        position: absolute;
        right: 5%;
        top: 25%;
        font-size: 21px;
    }
    #register {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 40px;

        position: absolute;
        right: 12.5%;
        top: 60%;
    }
    .loginBtn {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        position: absolute;

        width: 130px;
        height: 40px;

        left: 17.5%;
        top: 75%;
    }
    .forgotPassword {
        text-wrap: nowrap;
        white-space: nowrap;
    }
}

@media (min-width: 360px) {
    .authText {
        font-size: 25px;
        position: absolute;
        left: 12.5%;
        top: 15px;
    }
    .authWelcomeText {
        position: absolute;
        right: 7%;
        top: 25%;
        font-size: 19px;
    }
    #register {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 40px;

        position: absolute;
        right: 12.5%;
        top: 60%;
    }
    .loginBtn {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        position: absolute;

        width: 130px;
        height: 40px;

        left: 17.5%;
        top: 76.5%;
    }
    #login {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;


        width: 110px;
        height: 40px;
    }
    .forgotPassword {
        text-wrap: nowrap;
        white-space: nowrap;
    }
    .registerPage {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;


        width: 110px;
        height: 40px;
    }
    .registerWelcomeText {
        font-size: 21px;

        position: absolute;
        top: 10%;
        left: 5px;
    }
}

@media (min-width: 385px) {
    .registerWelcomeText {
        font-size: 21px;

        position: absolute;
        top: 10%;
        left: 5px;
    }
    .authText {
        position: absolute;
        left: 12.5%;
        top: 0px;
    }
    .toggle {
        height: 100%;
        width: 200%;
        right: 0px;
    }
    .authWelcomeText {
        position: absolute;
        right: 5%;
        top: 25%;
        font-size: 21px;
    }
    #register {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 40px;

        position: absolute;
        right: 12.5%;
        top: 60%;
    }
    .loginBtn {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        position: absolute;

        width: 130px;
        height: 40px;

        left: 17.5%;
        top: 75%;
    }
    #login {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;


        width: 110px;
        height: 40px;
    }
    .forgotPassword {
        text-wrap: nowrap;
        white-space: nowrap;
    }
    .registerPage {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;


        width: 110px;
        height: 40px;
    }
}

@media (min-width: 1600px) {
    .loginBtn {
        position: absolute;
        left: 32.5%;
        top: 75%;
    }
    .authText {
        position: absolute;
        left: 25%;
        top: 20%;
    }
    #register {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 40px;

        position: absolute;
        right: 25%;
        top: 75%;
    }
    .completeRegisterLabel {
        position: absolute;
        top: 67.5%;
        left: 35%;
    }
    .authWelcomeText {
        font-size: 24px;

        position: absolute;
        top: 30%;
        right: 12%;
    }
    .registerWelcomeText {
        font-size: 24px;

        position: absolute;
        top: 30%;
        left: 12%;
    }
}

@media (min-width: 1200px) {
    #login {
        position: absolute;
        top: 60%;
        left: 25%;
    }
    .authText {
        position: absolute;
        top: 20%;
        text-align: center;
        left: 20%;
    }
    .loginBtn {
        position: absolute;
        left: 32.5%;
        top: 80%;
    }
    #register {
        appearance: none;
        display: inline-flex; 
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 40px;

        position: absolute;
        right: 25%;
        top: 75%;
    }
    .completeRegisterLabel {
        position: absolute;
        top: 67.5%;
        left: 35%;
    }
    .authWelcomeText {
        font-size: 24px;

        position: absolute;
        top: 30%;
        right: 12%;
    }
    .registerWelcomeText {
        font-size: 24px;

        position: absolute;
        top: 40%;
        left: 15%;
    }
    .goAuthorizationLabel {
        position: absolute;
        top: 53.5%;
        left: 25%;
    }
}